
# Database
DATABASE_URL=sqlite:///market.db
RUN_SEED=true # seed_database (true - запустить seed при старте. false - пропустить)

# Flask
FLASK_ENV=production # development or production 
SECRET_KEY=your-secret-key-blazorandreact-flask

# JWT
JWT_SECRET_KEY=your-secret-key-blazorandreact-jwt
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES=3600
JWT_REFRESH_TOKEN_EXPIRES=2592000
